<form class="form-inline" role="form">
  <div class="container bg-secondary m-5 mx-auto col-lg-5">
    <div class="py-4 mx-auto">
      <h4 class="text-white text-center"> Application</h4>
    </div>
    <div class="py-2">
      <div class="bg-white p-3">
        <div class="row px-3">
          <div class="col-lg-12 pb-3"><span>Login:</span></div>
          <div class="col-lg-12 pb-3 input-group">
            <input type="text" class ="form-control" name="username" placeholder="Username">
            <div class="input-group-append">
              <span class="input-group-text" > <i class="fa fa-user"></i></span>
            </div>
          </div>
          <div class="col-lg-12 pb-3 input-group">
            <input name="email" class="form-control" type="text"  placeholder="Password">
            <div class="input-group-append">
              <span class="input-group-text" > <i class="fa fa-envelope prefix"></i></span>
             </div>
          </div>

        </div>
        <div class="row px-3">
          <div class="col-lg-4 form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
             Remember Me
            </label>
          </div>
          <div class="col-lg-8">
            <button type="submit" class="btn btn-secondary btn-lg float-right">Sign in</button>
          </div>
        </div>
        <div class="row px-1 pt-2">
          <div class="col-lg-6">
            <a class="btn btn-default active">Forgot Password?</a>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-default active float-right">New User Register</a>
          </div>
        </div>
        <div class="m-3 border-top" style="border-color: #9e8080;"> </div>
      </div>
    </div>
  </div>
</form>
